doctype html
html(lang='en-US')
	head
		meta(charset='UTF-8')
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1,user-scalable=no')
		title
			| Имоти в Гърция
		link(rel='pingback', href='http://rio.wpresidence.net/xmlrpc.php')
		link(rel='shortcut icon', href='http://rio.wpresidence.net/wp-content/themes/wpresidence/img/favicon.gif', type='image/x-icon')
		meta(name='robots', content='noindex,follow')
		link(rel='dns-prefetch', href='//maps.googleapis.com')
		link(rel='dns-prefetch', href='//fonts.googleapis.com')
		link(rel='dns-prefetch', href='//s.w.org')
		link(rel='alternate', type='application/rss+xml', title='Rio WpResidence Demo » Feed', href='http://rio.wpresidence.net/feed/')
		link(rel='alternate', type='application/rss+xml', title='Rio WpResidence Demo » Comments Feed', href='http://rio.wpresidence.net/comments/feed/')
		script(type='text/javascript').
			window._wpemojiSettings = {"baseUrl":"https:\\/\/s.w.org\/images\/core\/emoji\/2.3\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.3\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/rio.wpresidence.net\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.9.1"}};
			!function(a,b,c){function d(a,b){var c=String.fromCharCode;l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,a),0,0);var d=k.toDataURL();l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,b),0,0);var e=k.toDataURL();return d===e}function e(a){var b;if(!l||!l.fillText)return!1;switch(l.textBaseline="top",l.font="600 32px Arial",a){case"flag":return!(b=d([55356,56826,55356,56819],[55356,56826,8203,55356,56819]))&&(b=d([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]),!b);case"emoji":return b=d([55358,56794,8205,9794,65039],[55358,56794,8203,9794,65039]),!b}return!1}function f(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var g,h,i,j,k=b.createElement("canvas"),l=k.getContext&&k.getContext("2d");for(j=Array("flag","emoji"),c.supports={everything:!0,everythingExceptFlag:!0},i=0;i<j.length;i++)c.supports[j[i]]=e(j[i]),c.supports.everything=c.supports.everything&&c.supports[j[i]],"flag"!==j[i]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[j[i]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(h=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",h,!1),a.addEventListener("load",h,!1)):(a.attachEvent("onload",h),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),g=c.source||{},g.concatemoji?f(g.concatemoji):g.wpemoji&&g.twemoji&&(f(g.twemoji),f(g.wpemoji)))}(window,document,window._wpemojiSettings);
		style(type='text/css').
			img.wp-smiley,
			img.emoji {
			display: inline !important;
			border: none !important;
			box-shadow: none !important;
			height: 1em !important;
			width: 1em !important;
			margin: 0 .07em !important;
			vertical-align: -0.1em !important;
			background: none !important;
			padding: 0 !important;
			}
		link#rs-plugin-settings-css(rel='stylesheet', href='http://rio.wpresidence.net/wp-content/plugins/revslider/public/assets/css/settings.css?ver=5.4.6', type='text/css', media='all')
		style#rs-plugin-settings-inline-css(type='text/css').
			#rs-demo-id {}
		link#wpestate_style-css(rel='stylesheet', href='http://rio.wpresidence.net/wp-content/themes/wpresidence/style.css?ver=1.0', type='text/css', media='all')
		link#wpestate_media-css(rel='stylesheet', href='http://rio.wpresidence.net/wp-content/themes/wpresidence/css/my_media.css?ver=1.0', type='text/css', media='all')
		link#wpestate-opensans-css(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans%3A400%2C600%2C300&subset=latin%2Clatin-ext&ver=4.9.1', type='text/css', media='all')
		link(rel='stylesheet', id='font-awesome.min-css', href='http://rio.wpresidence.net/wp-content/themes/wpresidence/css/fontawesome/css/font-awesome.min.css?ver=4.9.1', type='text/css', media='all')
		link#fontello-css(rel='stylesheet', href='http://rio.wpresidence.net/wp-content/themes/wpresidence/css/fontello.css?ver=4.9.1', type='text/css', media='all')
		link(rel='stylesheet', id='jquery.ui.theme-css', href='http://rio.wpresidence.net/wp-content/themes/wpresidence/css/jquery-ui.min.css?ver=4.9.1', type='text/css', media='all')
		link#js_composer_front-css(rel='stylesheet', href='//rio.wpresidence.net/wp-content/uploads/js_composer/js_composer_front_custom.css?ver=5.3', type='text/css', media='all')
		link#bsf-Defaults-css(rel='stylesheet', href='http://rio.wpresidence.net/wp-content/uploads/smile_fonts/Defaults/Defaults.css?ver=4.9.1', type='text/css', media='all')
		link#ultimate-style-min-css(rel='stylesheet', href='http://rio.wpresidence.net/wp-content/plugins/Ultimate_VC_Addons/assets/min-css/ultimate.min.css?ver=3.16.18', type='text/css', media='all')
		script(type='text/javascript', src='http://rio.wpresidence.net/wp-includes/js/jquery/jquery.js?ver=1.12.4')
		script(type='text/javascript', src='http://rio.wpresidence.net/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1')
		script(type='text/javascript', src='http://rio.wpresidence.net/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.tools.min.js?ver=5.4.6')
		script(type='text/javascript', src='http://rio.wpresidence.net/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.revolution.min.js?ver=5.4.6')
		script(type='text/javascript', src='http://rio.wpresidence.net/wp-includes/js/jquery/ui/core.min.js?ver=1.11.4')
		script(type='text/javascript', src='http://rio.wpresidence.net/wp-content/themes/wpresidence/js/bootstrap.min.js?ver=1.0')
		script(type='text/javascript', src='http://rio.wpresidence.net/wp-content/themes/wpresidence/js/all_external.min.js?ver=1.0')
		script(type='text/javascript', src='http://maps.googleapis.com/maps/api/js?libraries=places&key&ver=1.0')
		script(type='text/javascript', src='http://rio.wpresidence.net/wp-content/plugins/Ultimate_VC_Addons/assets/min-js/ultimate.min.js?ver=3.16.18')
		link(rel='https://api.w.org/', href='http://rio.wpresidence.net/wp-json/')
		link(rel='EditURI', type='application/rsd+xml', title='RSD', href='http://rio.wpresidence.net/xmlrpc.php?rsd')
		link(rel='wlwmanifest', type='application/wlwmanifest+xml', href='http://rio.wpresidence.net/wp-includes/wlwmanifest.xml')
		meta(name='generator', content='WordPress 4.9.1')
		link(rel='canonical', href='http://rio.wpresidence.net/')
		link(rel='shortlink', href='http://rio.wpresidence.net/')
		link(rel='alternate', type='application/json+oembed', href='http://rio.wpresidence.net/wp-json/oembed/1.0/embed?url=http%3A%2F%2Frio.wpresidence.net%2F')
		link(rel='alternate', type='text/xml+oembed', href='http://rio.wpresidence.net/wp-json/oembed/1.0/embed?url=http%3A%2F%2Frio.wpresidence.net%2F&format=xml')
		style(type='text/css').
			.header5_bottom_row_wrapper,.shortcode_contact_form.sh_form_align_center #btn-cont-submit_sh:hover,.lighbox-image-close-floor,.lighbox-image-close,#add_favorites.isfavorite,.tax_active,.results_header,.ll-skin-melon td .ui-state-active,.ll-skin-melon td .ui-state-hover,.adv_search_tab_item.active,button.slick-prev.slick-arrow,button.slick-next.slick-arrow,.wpresidence_button,.comment-form #submit,#adv-search-header-3,#tab_prpg>ul,.wpcf7-form input[type="submit"],.adv_results_wrapper #advanced_submit_2,.wpb_btn-info,#slider_enable_map:hover,#slider_enable_street:hover, #slider_enable_slider:hover,#colophon .social_sidebar_internal a:hover,#primary .social_sidebar_internal a:hover,.ui-widget-header,.slider_control_left,.slider_control_right,.single-content input[type="submit"],#slider_enable_slider.slideron,#slider_enable_street.slideron,#slider_enable_map.slideron,.comment-form #submit,#add_favorites.isfavorite:hover,#add_favorites:hover,.carousel-control-theme-prev,.carousel-control-theme-next,#primary .social_sidebar_internal a:hover, #adv-search-header-mobile,#adv-search-header-1,.featured_second_line, .wpb_btn-info,.agent_contanct_form input[type="submit"]{background-color: #445A8C!important;}.wpresidence_button{border:none;}.comment-form #submit, .blog_unit_image img, .blog2v img, .single-content input[type="submit"] ,.agentpict,.featured_property img , .agent_unit img {border-bottom: 3px solid #445A8C!important;}.header_5_widget_icon,input[type="checkbox"]:checked:before,.testimonial-slider-container .slick-prev.slick-arrow:hover, .testimonial-slider-container .slick-next.slick-arrow:hover,.testimonial-slider-container .slick-dots li.slick-active button:before,.slider_container .slick-dots li button::before,.slider_container .slick-dots li.slick-active button:before,.single-content p a:hover,.agent_unit_social a:hover,.featured_prop_price .price_label,.featured_prop_price .price_label_before,.compare_item_head .property_price,#grid_view:hover, #list_view:hover,#primary a:hover,.front_plan_row:hover,.adv_extended_options_text,.slider-content h3 a:hover,.agent_unit_social_single a:hover ,.adv_extended_options_text:hover ,.breadcrumb a:hover , .property-panel h4:hover,.featured_article:hover .featured_article_right, .info_details .prop_pricex,.info_details .infocur,#contactinfobox,.featured_property:hover h2 a,.blog_unit:hover h3 a,.blog_unit_meta .read_more:hover,.blog_unit_meta a:hover,.agent_unit:hover h4 a,.listing_filter_select.open .filter_menu_trigger,.wpestate_accordion_tab .ui-state-active a,.wpestate_accordion_tab .ui-state-active a:link,.wpestate_accordion_tab .ui-state-active a:visited,.theme-slider-price, .agent_unit:hover h4 a,.meta-info a:hover,.widget_latest_price,#colophon a:hover, #colophon li a:hover,.price_area, .property_listing:hover h4 a, .listing_unit_price_wrapper,a:hover, a:focus, .top_bar .social_sidebar_internal a:hover,.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus,.featured_prop_price,.user_menu,.user_loged i, #access .current-menu-item >a, #access .current-menu-parent>a, #access .current-menu-ancestor>a,#access .menu li:hover>a:active, #access .menu li:hover>a:focus{color: #445A8C;}#amount_wd, #amount,#amount_mobile,#amount_sh,.mobile-trigger-user:hover i, .mobile-trigger:hover i,.mobilemenu-close-user:hover, .mobilemenu-close:hover{color: #445A8C!important;}.featured_article_title{border-top: 3px solid #445A8C!important;}.adv_search_tab_item.active,.scrollon {border: 1px solid #445A8C;}.shortcode_contact_form.sh_form_align_center #btn-cont-submit_sh:hover{ border-color: #445A8C;}.header_type5 #access .menu-main-menu-container>ul>li>a,#header4_footer,#header4_footer .widget-title-header4,#header4_footer a,.submit_action,#access ul.menu >li>a{color: #445A8C;}.menu_user_picture{border-color:#445A8C;}.navicon:before, .navicon:after,.navicon{background: #445A8C; }.header_transparent .menu_user_tools, .header_transparent .submit_action,.header_transparent #access ul.menu >li>a{color: #ffffff;}.header_transparent .navicon:before, .header_transparent .navicon:after,.header_transparent .navicon{background: #ffffff;}.header_transparent .menu_user_picture{border-color: #ffffff;}.header_type5 #access .menu-main-menu-container>ul>li:hover>a,#access .menu li:hover>a,.header_type3_menu_sidebar #access .menu li:hover>a, .header_type3_menu_sidebar #access .menu li:hover>a:active, .header_type3_menu_sidebar #access .menu li:hover>a:focus,.customnav #access ul.menu >li>a:hover,#access ul.menu >li>a:hover,.hover_type_3 #access .menu > li:hover>a,.hover_type_4 #access .menu > li:hover>a,.hover_type_6 #access .menu > li:hover>a {color: #445A8C;}.hover_type_5 #access .menu > li:hover>a {border-bottom: 3px solid #445A8C;}.hover_type_6 #access .menu > li:hover>a {border: 2px solid #445A8C;}.hover_type_2 #access .menu > li:hover>a:before {border-top: 3px solid #445A8C;}.header_transparent .customnav #access ul.menu >li>a:hover,.header_transparent #access ul.menu >li>a:hover,.header_transparent .hover_type_3 #access .menu > li:hover>a,.header_transparent .hover_type_4 #access .menu > li:hover>a,.header_transparent .hover_type_6 #access .menu > li:hover>a {color: #FEDF00;}.header_transparent .hover_type_5 #access .menu > li:hover>a {border-bottom: 3px solid #FEDF00;}.header_transparent .hover_type_6 #access .menu > li:hover>a {border: 2px solid #FEDF00;}.header_transparent .hover_type_2 #access .menu > li:hover>a:before {border-top: 3px solid #FEDF00;} .alalx223, .header_type3_menu_sidebar .menu > li:hover,.hover_type_3 #access .menu > li:hover>a,.hover_type_4 #access .menu > li:hover>a {background: #445A8C!important;}.customnav.header_type5 #access .menu-main-menu-container>ul>li>a,.customnav .submit_action,.customnav #access ul.menu >li>a{color: #445A8C;}.customnav .menu_user_picture{border-color:#445A8C;}.customnav .navicon:before, .customnav .navicon:after,.customnav .navicon{background: #445A8C;}#user_menu_open > li > a:hover,#user_menu_open > li > a:focus,.filter_menu li:hover,.sub-menu li:hover, #access .menu li:hover>a, #access .menu li:hover>a:active, #access .menu li:hover>a:focus{background-color: #445A8C;}.form-control.open .filter_menu_trigger, .menu_user_tools{color: #445A8C;}.menu_user_picture {border: 1px solid #445A8C;}#access .menu ul li:hover>a,#access .sub-menu li:hover>a,#access .sub-menu li:hover>a:active, #access .sub-menu li:hover>a:focus,#access .with-megamenu .sub-menu li:hover>a, #access .with-megamenu .sub-menu li:hover>a:active, #access .with-megamenu .sub-menu li:hover>a:focus{color: #ffffff;}#colophon {background-color: #323b41;}.top_bar,.top_bar a{color:#1a171b;}.wpresidence_button:hover,.twitter_wrapper, .slider_control_right:hover, .slider_control_left:hover, .comment-form #submit:hover, .carousel-control-theme-prev:hover, .carousel-control-theme-next:hover , .wpb_btn-info:hover, #advanced_submit_2:hover, #agent_submit:hover{background-color: #4A6299!important;}.icon_selected,.featured_prop_label {color: #4A6299!important;}#tab_prpg li{border-right: 1px solid #4A6299;}.adv_search_tab_item.active {background: #445A8C!important;color: #fff;border: 1px solid #445A8C!important;}.adv_search_tab_item.sales{border: 1px solid #D67B04;background: #D67B04;}.adv_search_tab_item.foreclosure{border: 1px solid #DC663C;background: #DC663C;}.adv_search_tab_item a{color:#fff;}.adv_search_tab_item.rentals{border: 1px solid #0489C2;background: #0489C2;}.adv_search_tab_item {text-transform: uppercase;font-weight: 600;letter-spacing: 1px;}.places_wrapper_type_2{height:300px;}.home.page .adv-search-1 {bottom: 24%;}.listing_unit_price_wrapper{color:#3C90BE;}#google_map_prop_list_sidebar #listing_ajax_container h4 {padding: 0px 20px;}#search_wrapper {top: 70%;}
		meta(name='generator', content='Powered by WPBakery Page Builder - drag and drop page builder for WordPress.')
		//if lte IE 9
			link(rel='stylesheet', type='text/css', href='http://rio.wpresidence.net/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.min.css', media='screen')
		meta(name='generator', content='Powered by Slider Revolution 5.4.6 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface.')
		script(type='text/javascript').
			function setREVStartSize(e){
			try{ var i=jQuery(window).width(),t=9999,r=0,n=0,l=0,f=0,s=0,h=0;
			if(e.responsiveLevels&&(jQuery.each(e.responsiveLevels,function(e,f){f>i&&(t=r=f,l=e),i>f&&f>r&&(r=f,n=e)}),t>r&&(l=n)),f=e.gridheight[l]||e.gridheight[0]||e.gridheight,s=e.gridwidth[l]||e.gridwidth[0]||e.gridwidth,h=i/s,h=h>1?1:h,f=Math.round(h*f),"fullscreen"==e.sliderLayout){var u=(e.c.width(),jQuery(window).height());if(void 0!=e.fullScreenOffsetContainer){var c=e.fullScreenOffsetContainer.split(",");if (c) jQuery.each(c,function(e,i){u=jQuery(i).length>0?u-jQuery(i).outerHeight(!0):u}),e.fullScreenOffset.split("%").length>1&&void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0?u-=jQuery(window).height()*parseInt(e.fullScreenOffset,0)/100:void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0&&(u-=parseInt(e.fullScreenOffset,0))}f=u}else void 0!=e.minHeight&&f<e.minHeight&&(f=e.minHeight);e.c.closest(".rev_slider_wrapper").css({height:f})
			}catch(d){console.log("Failure at Presize of Slider:"+d)}
			};
		style(type='text/css', data-type='vc_shortcodes-custom-css').
			.vc_custom_1507031785547{margin-top: 45px !important;margin-bottom: 30px !important;}.vc_custom_1485414612133{margin-bottom: -30px !important;padding-right: 15px !important;padding-left: 15px !important;}.vc_custom_1507031785547{margin-top: 45px !important;margin-bottom: 30px !important;}.vc_custom_1485414699089{margin-top: -15px !important;}
		noscript
			style(type='text/css').
				.wpb_animate_when_almost_visible { opacity: 1; }
	body.home.page-template.page-template-property_list.page-template-property_list-php.page.page-id-17707.wpb-js-composer.vc_responsive(class='js-comp-ver-5.3')
		.mobilewrapper
			.snap-drawers
				// Left Sidebar
				.snap-drawer.snap-drawer-left
					.mobilemenu-close
						i.fa.fa-times
					ul#menu-main-menu.mobilex-menu
						li#menu-item-17952.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-17952
							a(href='/') Начало
						li#menu-item-17954.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-17954
							a(href='/advaned_search') Разширено търсене
						li#menu-item-17953.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-17953
							a(href='/usefull') Полезно
						li#menu-item-17958.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-17953
							a(href='/services') Услуги
						li#menu-item-17955.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-17955
							a(href='/news') Новини
						li#menu-item-17956.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-17956
							a(href='/for_us') За нас
						li#menu-item-17957.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-17956
							a(href='/contacts') Контакти
		#all_wrapper.website-wrapper
			.container.main_wrapper.wide.has_header_type1.header_transparent.contentheader_left.cheader_left
				.master_header.wide.header_transparent
					.mobile_header
						.mobile-trigger
							i.fa.fa-bars
						.mobile-logo
							a(href='http://rio.wpresidence.net')
								img.img-responsive.retina_ready(src='http://rio.wpresidence.net/wp-content/uploads/2017/11/logo_rio_transparent.png', alt='logo')
						.mobile-trigger-user
							i.fa.fa-cogs
					.header_wrapper.header_type1.header_left.hover_type_6.header_alignment_text_left
						.header_wrapper_inside(data-logo='http://rio.wpresidence.net/wp-content/uploads/2017/11/logo_rio_transparent.png', data-sticky-logo='http://rio.wpresidence.net/wp-content/uploads/2017/11/logo_rio.png')
							.logo
								a(href='http://rio.wpresidence.net')
									img#logo_image.img-responsive.retina_ready(style='margin-top:0px;', src='http://rio.wpresidence.net/wp-content/uploads/2017/11/logo_rio_transparent.png', alt='logo')
							nav#access
								.menu-main-menu-container
									ul#menu-main-menu-1.menu
										li#menu-item-17952.menu-item.menu-item-type-custom.menu-item-object-custom.no-megamenu
											a.menu-item-link(href='/') Начало
										li#menu-item-17954.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.no-megamenu
											a.menu-item-link(href='/advanced_search') Разширено търсене
										li#menu-item-17953.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.no-megamenu
											a.menu-item-link(href='/usefull') Полезно
										li#menu-item-17955.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.no-megamenu
											a.menu-item-link(href='/services') Услуги
										li#menu-item-17956.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.no-megamenu
											a.menu-item-link(href='/news') Новини
										li#menu-item-17957.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.no-megamenu
											a.menu-item-link(href='/for_us') За нас
										li#menu-item-17958.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.no-megamenu
											a.menu-item-link(href='/contacts') Контакти