extends shared/_master

block body
    link(rel='stylesheet', href='../static/css/add-apartment.css')
    .container
        .menu
            a(href='/admin/add')
                button.btn-success Добавяне
            a(href='/admin/remove')
                button.btn-danger Премахване
            a(href='/admin/logout')
                button.btn-info Излизане от админ профила
        .content
            h1 Добавяне на жилище
            form(method='post', action='/admin/edit/' + property.code, enctype='multipart/form-data')
                input.form-control(name='type', value=property.type)
                input.form-control(type='text', name='title', placeholder='заглавие', value=property.title)
                textarea#description.form-control(name='text', rows='10', cols='30', placeholder='описание')=property.text
                input.form-control(type='text', name='price', placeholder='цена в евро', value=property.price)
                input#place.form-control(name='place', onchange='changeLocation()', value=property.place)
                input#location.form-control(name='location' ,value=property.location)
                input.form-control(type='number', name='size', placeholder='размер(кв м.)', value=property.size)
                .form-control
                    label(for='rooms') Стаи
                    input(type='number', name='rooms', value=property.rooms)
                    label(for='baths') Бании
                    input(type='number', name='baths', value=property.baths)
                .form-control
                    label(for='firstLine') първа линия
                    if property.firstLine
                        input(type='checkbox', name='firstLine', checked='true')
                    else
                        input(type='checkbox', name='firstLine')
                    label(for='view') гледка
                    if property.view
                        input(type='checkbox', name='view', checked='true')
                    else
                        input(type='checkbox', name='view')
                    label(for='pool') басейн
                    if property.pool
                        input(type='checkbox', name='pool', checked='false')
                    else
                        input(type='checkbox', name='pool')
                    label(for='furnished') обзаведен
                    if property.furnished
                        input(type='checkbox', name='furnished', checked='true')
                    else
                        input(type='checkbox', name='furnished')
                textarea.form-control(name='contacts', rows='5', cols='30', placeholder='контакти')=property.contacts
                input.form-control(type='number', name='code', placeholder='код',value=property.code)
                .form-control
                    label(for='latitude') Latitude
                    input(type='number', name='latitude', value=property.latitude)
                    label(for='longitude') Longitude
                    input(type='number', name='longitude', value=property.longitude)
                .form-control
                    label(for='investment') За инвестиция
                    if property.investment
                        input(type='checkbox', name='investment', checked='true')
                    else
                       input(type='checkbox', name='investment')
                    label(for='newConstruction') Нова конструкция
                    if property.newConstruction
                        input(type='checkbox', name='newConstruction', checked='true')
                    else
                        input(type='checkbox', name='newConstruction')
                    label(for='top') Топ обява
                    if property.top
                        input(type='checkbox', name='top', checked='true')
                    else
                        input(type='checkbox', name='top')
                - for (var i = 0; i < property.pictures.length; i += 1) {
                    .col-md-4(id='picture_' + i)
                        input(name='picture_' + i, placeholder='линк', value=property.pictures[i])
                        button(style='color: white; background-color: red;', onclick='removePicture("picture_' + i + '")') x
                        img.col-md-4(src=property.pictures[i])
                - }
                input.form-control#number_pictures(name='number_pictures', type='number',placeholder='брой снимки', onkeyup='change()')
                script.
                    function removePicture(id) {
                        const pictureDiv = document.getElementById(id);
                        pictureDiv.parentNode.removeChild(pictureDiv);
                    }
                script.
                    function change(){
                    const ul = document.getElementById('changable_ul');
                    const input = document.getElementById('number_pictures');
                    while (ul.firstChild) {
                        ul.removeChild(ul.firstChild);
                    }
                    var n = +input.value;
                    if (typeof n == 'number') {
                        for (let i = 0; i < n; i += 1) {
                            var li = document.createElement("li");
                            var newInput = document.createElement("input");
                            newInput.className = 'form-control';
                            newInput.type = 'file';
                            newInput.name = 'pic';
                            newInput.accept = '.png, .jpg, .jpeg';
                            li.appendChild(newInput);
                            ul.appendChild(li);
                        }
                    }
                    }
                ul#changable_ul
                button.form-control.btn-warning(type='submit') Промяна
                script.
                    changeLocation();
                    function changeLocation() {
                        const placeDropdown = document.getElementById('place');
                        const placeValue = placeDropdown.value;
                        const locationDropdown = document.getElementById('location');
                        while (locationDropdown.firstChild) {
                            locationDropdown.removeChild(locationDropdown.firstChild);
                        }
                        if(placeValue==='Кавала') {
                            const locationArray = ['Паралия Орфани', 'Офринио', 'Паралия Офринио', 'Карияни', 'Паралия Карияни',
                             'Неа Перамос', 'Неа Ираклица', 'Палио', 'Кавала(град)', 'Керамоти'];
                            for(var i = 0; i < locationArray.length; i += 1) {
                                var option = document.createElement('option');
                                option.innerHTML = locationArray[i];
                                locationDropdown.appendChild(option);
                            }
                        }
                        else if(placeValue==='Тасос') {
                            //Орфани
                            var potos = document.createElement('option');
                            potos.innerHTML = 'Потос';
                            locationDropdown.appendChild(potos);
                        }
                    }
    